/* reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /*front trữ*/
    font-family: Arial, Helvetica, sans-serif;
}
/* ctrl d
alt shift phải*/
/*
1.từ trên xuống dưới
2. từ phải vào trong
3. từ tổng quan trến cho tiết
*/
/*
1.vị trí
2.kích thước
3.màu sắc
4.kiểu dáng(kiểu trữ,hình dáng)
*/
#main{

}
#header{
    height: 46px; /*chiều cao*/
    background-color: black; /*màu sắc*/
    position: fixed; /*cố định header trên đầu*/
    top: 0;
    left: 0;
    right: 0;
}
#nav {
    display: inline-block; /*đẩy thanh search lên header*/
}
#nav, .subnav{
    list-style-type: none; /*xóa dấu chấm đầu trữ*/
}
#nav > li {
    display: inline-block;
}
#nav li {
   /* display: inline-block; /*trữ nằm ngang*/
    position: relative;
}
#nav > li > a{
    color:#fff;
    text-transform: uppercase;/*trữ viết hoa*/
}
#nav li a{
   /* color: #fff; /*màu trữ*/
    text-decoration: none; /*bỏ gạch chân */
    line-height: 46px; /*trữ căn giữa trên dưới*/
    padding: 0 24px; /*trữ cách nhau trái phải*/
    display: inline-block; /*hover vào màu nền rộng hơn*/
}
#nav li:hover .subnav{ /*di vào để hiển thị*/
    display: block;
}
#nav > li:hover > a{
    /*khi hover(di vào, chạm vào)*/
    color: black; /*màu trữ*/
    background-color: #ccc; /*nền trữ*/
}
#nav .subnav{
   display: none; 
   position: absolute; /*nằm dọc*/
   top:100%; /*chiều cao*/
   left: 0;
   min-width: 160px; /*chiều ngang*/
   background-color: #fff; /*nền trữ*/
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /*bóng đổ*/
}
#nav .subnav a{
    color: black; /*màu trữ*/
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li:hover { /*khi di vào phần sub nav*/
    color: black;
    background-color: #ccc;
}
#nav .nav-arrow{
    font: size 12px;
}
#header .search-btn{
    float:right; /*đẩy thanh search sang phải*/
    padding: 0 16px; /*cách lề phải 16px*/
}
#header .search-btn:hover{ /*khi hover vào thì nổi màu*/
    background-color: #f44336;
    cursor: pointer; /*đổi hình trỏ chuổi khi di vào*/
}
#header .search-icon{
    color: #fff;    /*màu thanh search*/
    font-size: 20px;  /*kích thước thanh search*/
    line-height: 46px; /*căn giữa*/
}
#slider{
    margin-top: 46px; /*đẩy slider xuống dưới header*/
    padding-top: 50%; /*giữ tỷ lệ ảnh*/
    background: url('/assets/img/chicago.jpg') /*link ảnh*/ top center / cover no-repeat ;
    

}
#content{

}
#foote{

}