/* reset css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /*hiệu ứng cuộn*/
    /*front trữ*/
    font-family: Arial, Helvetica, sans-serif;
}
/* ctrl d
alt shift phải*/
/*
1.từ trên xuống dưới
2. từ phải vào trong
3. từ tổng quan trến cho tiết
*/
/*
1.vị trí
2.kích thước
3.màu sắc
4.kiểu dáng(kiểu trữ,hình dáng)
*/
/*common*/

.clear{
    clear: both;
}
.text-white{
    color: #fff !important; /*trữ màu trắng*/
}
.mt8{
    margin-top: 8px !important;
}
.mt16{
    margin-top: 16px !important;
}
.pull-right{
    float: right !important;
}
.row{
    margin-left: -8px;
    margin-top: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.33333%;
}
.btn{
    text-decoration: none; /*bỏ gạch chân*/
    color: #fff; /*màu trữ*/
    background-color: #000; /*màu nền*/
    padding: 11px 16px; /*tăng độ dày viền */
    display: inline-block; /*lùi xuống*/
    margin-top: 15px; /*top xuống*/
    border: none;
}
.btn:hover{ /*khi hover*/
    cursor: pointer; /*hình ngón tay*/
    color: #000;
    background-color: #ccc;
}

/*main*/
#main{

}
#header{
    height: 46px; /*chiều cao*/
    background-color: black; /*màu sắc*/
    position: fixed; /*cố định header trên đầu*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav {
    display: inline-block; /*đẩy thanh search lên header*/
}
#nav, .subnav{
    list-style-type: none; /*xóa dấu chấm đầu trữ*/
}
#nav > li {
    display: inline-block;
}
#nav li {
   /* display: inline-block; /*trữ nằm ngang*/
    position: relative;
}
#nav > li > a{
    color:#fff;
    text-transform: uppercase;/*trữ viết hoa*/
}
#nav li a{
   /* color: #fff; /*màu trữ*/
    text-decoration: none; /*bỏ gạch chân */
    line-height: 46px; /*trữ căn giữa trên dưới*/
    padding: 0 24px; /*trữ cách nhau trái phải*/
    display: inline-block; /*hover vào màu nền rộng hơn*/
}
#nav li:hover .subnav{ /*di vào để hiển thị*/
    display: block;
}
#nav > li:hover > a{
    /*khi hover(di vào, chạm vào)*/
    color: black; /*màu trữ*/
    background-color: #ccc; /*nền trữ*/
}
#nav .subnav{
   display: none; 
   position: absolute; /*nằm dọc*/
   top:100%; /*chiều cao*/
   left: 0;
   min-width: 160px; /*chiều ngang*/
   background-color: #fff; /*nền trữ*/
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /*bóng đổ*/
}
#nav .subnav a{
    color: black; /*màu trữ*/
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li:hover { /*khi di vào phần sub nav*/
    color: black;
    background-color: #ccc;
}
#nav .nav-arrow{
    font: size 12px;
}
#header .search-btn{
    float:right; /*đẩy thanh search sang phải*/
    padding: 0 16px; /*cách lề phải 16px*/
}
#header .search-btn:hover{ /*khi hover vào thì nổi màu*/
    background-color: #f44336;
    cursor: pointer; /*đổi hình trỏ chuổi khi di vào*/
}
#header .search-icon{
    color: #fff;    /*màu thanh search*/
    font-size: 20px;  /*kích thước thanh search*/
    line-height: 46px; /*căn giữa*/
}
#slider{
    position: relative;
    margin-top: 46px; /*đẩy slider xuống dưới header*/
    padding-top: 50%; /*giữ tỷ lệ ảnh*/
    background: url('/assets/img/chicago.jpg'); /*link ảnh*/ 
    background-position: top center; 
    background-size: cover; /*size ảnh*/
    background-repeat: no-repeat; 

}
#slider .text-content{
    position: absolute; /*hiển thị trữ ở giữa*/
    bottom: 47px; /*chiều cao trữ*/
    color: #fff; /*màu trữ*/
    left: 50%; /*căn giữa*/
    transform: translateX(-50%); /*căn giữa trữ nhỏ*/
    text-align: center; /*căn giữa trữ to*/
}
#slider .text-heading{
    font-weight: 500; /*độ dày trữ*/
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px; /*cỡ trữ*/
    margin-top: 25px; /*khoảng cách 2 dòng*/
}
#content{
}
#content .content-section{
    width: 800px;
    padding: 64px 0 112px; /*cách trên dưới*/
    margin-right: auto; /*cách trái phải*/
    margin-left: auto;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px; /*khoảng cách trữ*/
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic; /*trữ nghiêng*/
    opacity: 0.6; /* độ mờ trữ*/
}
#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify; /*căn đều trữ hai bên*/
    line-height: 1.6; /*độ dãn dòng*/
}
#content .member-list{
    margin-top: 48px; /*tạo khoảng cách phía trên*/
    text-align: center; /*căn giữa ảnh và màn hình*/
}
#content .member-item{
    float: left; /*cho 3 ảnh nằm ngang*/
    width: 33.33333%; /*chia khoảng cách 3 ảnh*/
}
#content .member-name{
    font-size: 15px; /*sz trữ*/
}
#content .member-img{
    margin-top: 15px; /*khoảng cách ảnh và trữ*/
    width: 154px;
    border-radius: 4px; /*bo tròn góc ảnh*/
}
.tour-section{
    background-color: #000; /*nền đen*/
}
.ticket-list{
    background-color: #fff; /*màu khung*/
    margin-top: 40px; /*khoảng cách phía trên*/
}
.ticket-list li{
    list-style-type: none; /*xóa dầu chấm ở trữ*/
    color: #757575; /*màu trữ*/
    font-size: 15px; /*cớ trữ*/
    padding: 11px 16px; /*khoảng cách trên dưới trái phải trữ*/
    border-bottom: 1px solid #ddd; /*viền dưới trữ*/
}
.ticket-list .sold-out{
    background-color: #f44336; /*màu bền*/
    color: #fff; /*màu trữ*/
    padding: 3px 4px; /*khoảng cách nền vs trữ*/
    margin-left: 16px; /*dịch sang trái*/
}
.ticket-list .quantiti{
    float:right; /*trữ sáng phải*/
    width: 24px; /*chiều cao trữ*/
    height: 24px;
    background-color: #000; /*màu nền*/
    color:#fff;  /*màu trữ*/
    border-radius: 50%; /*nền tròn*/
    text-align: center; /*trữ căn giữa trên dưới*/
    line-height: 24px;  /*trữ căn giữa trái phải*/
    margin-top: -2px; /*đẩy cả cụm lên*/
}
/*place */
.places-list{
    margin-top: 32px;
}   

.place-img{
    width: 100%; /*cho ảnh nhỏ lại*/
    display: block; /*bỏ khoảng cách ở ảnh*/
}
.place-img:hover{
    opacity: 0.6; /*hover vào ảnh mờ nhẹ*/
}
.place-body{
    padding: 16px; /*khoảng cách viền*/
    font-size: 15px;
    background-color: #fff; /*màu nền*/
}
.place-heading{
    font-size: 15px; /*cớ trữ và độ dày*/
    font-weight: 600;
}
.place-time{
    margin-top: 15px; /*tạo khoảng cách trữ*/
    color: #757575;
}
.place-desc{
    margin-top: 15px; /*khoảng cách trữ*/
    line-height: 1.4; /*dãn dòng*/
}

/*contact form*/
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    bottom: 1px solid #ccc;
    width: 100%;
}
/*maps section*/
.map-section img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .socials{
    font-size: 30px;
}
#footer .socials a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .socials a:hover{
    color: rgba(0, 0, 0, 0.3);
}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}